#page-room {
  min-height: 100%;
  background-color: #F8F8F8;

  transition: all 0.2s;

  &.light {
    .room-title {
      span {
        background-color: #e5534b;
      }

      h1 {
        color: #292923;
      }

      span {
        color: #FFF;
      }
    }

    form {
      textarea {
        background-color: #fefefe;
        box-shadow: rgba(0, 0, 0, 0.04);

        &:focus {
          outline-color: #e5534b;
        }
      }

      .form-footer {
        .user-info {
          span {
            color: #29292e;
          }
        }

        > span {
          color: #737380;

          button {
            color: #e5534b;
          }
        }
      }
    }

    .question-list {
      .like-button { 
        color: #737380;
  
        &.liked {
          color: #ad322b;
  
          svg path {
            stroke: #ad322b;
          }
        }
      }

      .icon-delete &:hover {
        path {
          stroke: #ad322b;
        }
      }

      .no-questions {
        span {
          color: #29292e;
        }
  
        p {
          color: #737380;
        }
      }
    }
  }

  &.dark {
    background-color: #23242A;

    main {
      color: #F8F8F8;

      .room-title {
        h1 {
          color: #F8F8F8;
          margin-top: 1px;
        }
  
        span {
          background-color: transparent;
          border: 2px solid #e5534b;
        }
      }
  
      form {
        textarea {
          background-color: #323741;
          border: 0;
          color: #F8F8F8;
          
          &::placeholder {
            color: #727685;
          }

          &:focus {
            outline-color: #323741;
          }
        }
  
        .form-footer {
          .user-info {
            span {
              color: #F8F8F8;
            }
          }
    
          > span {
            color: #F8F8F8;
    
            button {
              background-color: transparent;
              color: #e5534b;
    
              cursor: pointer;
            }
          }
        }
      }

      .question-list {
        .like-button {
          span {
            color: #F8F8F8;
          }
  
          &.liked {
            span {
              color: #e5534b;
            }
    
            svg path {
              stroke: #e5534b;
            }
          }
        }

        .no-questions {
          span {
            color: #F8F8F8;
          }
  
          p {
            color: #727685;
          }
        }
      }
    }
  }

  header {
    .content {
      max-width: 70rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      transition: all 0.2s;

      > img {
        max-height: 4.5rem;
        margin-top: 0.4rem;
      }
    }
  }

  main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 22rem 0 22rem;

    transition: all 0.2s;

    .room-title {
      margin: 2rem 0 1.5rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;

      transition: all 0.2s;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;

        transition: all 0.2s;
      }

      span {
        margin-left: 1.5rem;
        border-radius: 9999px;
        padding: 0.5rem 1rem;
        font-weight: 500;
        font-size: 1.1rem;

        transition: all 0.2s;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 2rem;
        border-radius: 8px;
        resize: vertical;
        min-height: 9rem;

        transition: all 0.2s;

        &:focus {
          outline-width: 6px;
        }
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        transition: all 0.2s;

        .user-info {
          display: flex;
          align-items: center;

          transition: all 0.2s;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            transition: all 0.2s;
          }

          span {
            margin-left: 1rem;
            font-weight: 500;
            font-size: 0.9rem;
            letter-spacing: 0.2px;

            transition: all 0.2s;
          }
        }

        > span {
          font-size: 0.9rem;
          font-weight: 500;

          transition: all 0.2s;

          button {
            background-color: transparent;
            border: 0;
            font-weight: 500;
            text-decoration: underline;

            cursor: pointer;

            transition: all 0.2s;
          }
        }

        .button {
          height: 3.5rem;
          padding: 0 3.5rem;
        }
      }
    }

    .question-list {
      width: 100%;
      margin-top: 3rem;
      margin-bottom: 3rem;
      align-self: center;

      .like-button {
        display: flex;
        align-items: flex-end;
        margin-top: 8px;
        gap: 8px;
      }

      .no-questions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        svg {
          margin-bottom: 24px;
        }
  
        span {
          font-family: 'Poppins', sans-serif;
          font-size: 1.2rem;
          font-weight: 600;
          text-align: center;
  
          margin-bottom: 12px;
        }
  
        p {
          font-size: 1rem;
          font-weight: 400;
          text-align: center;

          width: 23rem;
        }
      }
    }
  }
}

@media (max-width: 1980px) {
  #page-room {
    main {
      .question-list {
        .no-questions {
          svg {
            width: 180px;
            height: 178px;
          }
        }
      }
    }
  }
}

@media(max-width: 1150px) {
  #page-room {
    main {
      margin: 1rem 11rem;
    }
  }
}

@media (max-width: 1024px) {
  #page-room {
    header {
      .content {
        padding: 0 2rem;
      }
    }

    main {
      margin: 2rem 14rem;
      .question-list {
        .no-questions {
          svg {
            width: 140px;
            height: 138px;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #page-room {
    main {
      margin: 2rem 10rem;
      .question-list {
        .no-questions {
          svg {
            width: 110px;
            height: 108px;
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  #page-room {
    header {
      .content {
        padding: 0.5rem 2rem;
        > img {
          max-height: 4rem;
        }
      }
    }

    main {
      margin: 1rem 6rem 0 6rem;
      padding: 0 1.5rem;
    }
  }
}

@media(max-width: 600px) {
  #page-room {
    header {
      .content {
        padding: 0.5rem 2rem
      }
    }
    main {
      margin: 1rem 3rem;
    }
  }
}

@media(max-width: 500px) {
  #page-room {
    header {
      .content {
        > img {
          margin: 0;
        }
      }
    }
  
    main {
      margin: 2rem 2rem;
      padding: 0 1.5rem;
  
      .room-title {
        margin-top: 0;
        margin-left: 1rem;
  
        h1 {
          margin-right: 1rem;
        }
  
        span {
          margin: 0;
        }
      }

      form {
        .form-footer {
          .user-info {
            img {
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 450px) {
  #page-room{  
    main {  
      margin: 2rem 1rem;

      .room-title {
        margin-top: 1rem;
        margin-bottom: 2rem;

        h1, span {
          text-align: center;
        }
      }

      #question {
        padding: 18px 24px;
      }

      footer {
        .user-info {
          img {
            width: 2rem;
            height: 2rem;
          }
        }

        .question-children {
          button {
            svg {
              width: 1.7rem;
              height: 1.7rem;
            }
          }
        }
      }

      .question-list {
        margin-top: 5rem;

        .no-questions {
          svg {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}

@media(max-width: 400px) {
  #page-room{
    main {  
      margin: 2rem 1rem;

      .room-title {
        margin-top: 1rem;
        margin-bottom: 2rem;

        justify-content: space-between;

        h1, span {
          text-align: center;
        }
      }

      #question {
        padding: 18px 24px;
      }

      footer {
        .user-info {
          img {
            width: 2rem;
            height: 2rem;
          }
        }

        .question-children {
          button {
            svg {
              width: 1.7rem;
              height: 1.7rem;
            }
          }
        }
      }

      .question-list {
        margin-top: 5rem;

        .no-questions {
          svg {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}