#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  &.dark {
    background-color: #23242a;

    main {
      form {
        input {
          background-color: #323741;
          border: 0;
          color: #F8F8F8;
          
          &::placeholder {
            color: #727685;
          }
        }
      }
    }

    .main-content {
      h2 {
        color: #FFFFFF;
      }

      p {
        color: #F8F8F8;
      }
    }

    .create-room {
      background-color: #23242a;
      color: #FFFFFF;
      border: 1px solid #835afd;
    }

    .separator {
      color: #727685;

      &::before {
        background: #727685;
      }
    
      &::after {
        background: #727685;
      }
    }
  }

  main {
    flex: 8;

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;

    .text-mobile--light {
      display: none;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    align-items: stretch;
    text-align: center;

    transition: all 0.2s;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 2rem;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 5rem;
        border-radius: 16px;
        padding: 0 2rem;
        background:#FFF;
        border: 1px solid #a8a8b3;
        font-family: Poppins, sans-serif;

        transition: all 0.2s;
      }

      button {
        margin-top: 1.5rem;
      }

      button, input {
        width: 100%;

        transition: all 0.2s;
      }
    }

    p {
      font-size: 14px;
      color: #737380;
      margin-top: 16px;

      transition: all 0.2s;

      a {
        color: #e5534b;

        transition: all 0.2s;
      }
    }
  }
}

.create-room {
  margin-top: 3.5rem;
  height: 5rem;
  padding: 0 2rem;
  border: 1px solid #a8a8b3;
  border-radius: 16px;
  font-weight: 500;
  background: #e6e6e6;
  color: #29292e;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  // border: 0;

  transition: all 0.2s;

  img {
    margin-right: 1rem;

    transition: all 0.2s;
  }

  &:hover {
    filter: brightness(0.9)
  }
}

.separator {
  font-size: 14px;
  color: #a8a8b3;

  margin: 3.5rem 0;
  display: flex;
  align-items: center;

  transition: all 0.2s;

  &::before {
    content: '';
    flex: 1;
    height: 1px;
    background: #a8a8b3;
    margin-right: 1rem;
  }

  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #a8a8b3;
    margin-left: 1rem;
  }
}

@media (max-width: 2600px) {
  #page-auth {
    main {
      .main-content {
        max-width: 31rem;
      }
    }
  }
}

@media (max-width: 768px) {
  #page-auth {
    justify-content: center;

    main {
      max-width: 36rem;
    }
  }
}